.btn {
  padding: 1.25rem 2.5rem;
  &:hover {
    color: $white;
  }
  &:not(:disabled):not(.disabled):active {
    color: $white;
  }
}
.btn-primary {
  color: $white;
}

.button-wrapper {
  a {
    padding: 10px 35px;
    border-radius: 0;
    border: 0;
    transition: $transition;

    outline: 2px solid $white;
    background-color: $black;
    color: $white;
    font-weight: 700;

    &:hover,
    &:active,
    &:focus {
      outline-color: $black;
      border: 0;
      background-color: $white;
      color: $black !important;
      // box-shadow: 9px 8px 0 white !important;
    }
  }
}
