.navbar {
  background-color: $white;
  box-shadow: 0 1px 10px 0px $black;
  border-bottom: 1px solid black;
  position: fixed;
  width: 100%;
  z-index: 99;
  padding: 0;
  transition: $transition;

  h1 {
    transition: $transition;
    opacity: 1;
  }
  h2 {
    transition: $transition;
    opacity: 1;
  }

  .menu-primary-menu-container > ul > li > a{
    color: $grayDark;
    font-weight: 700;
  }

  .logo-img-wrapper{
    img{
      height: 0px;
      // height: 64px;
    }
  }

  .menu-item-has-children{
    a:first{
      border-bottom: 1px solid black;
    }
  }

  .menu-primary-menu-container {
    transition: $transition;
    width: 100%;
  }

  .navbar-nav{
    li{
      a{
        @include fluid("padding-left", 40, 60);
        @include fluid("padding-right", 40, 60);
        @include fluid("padding-top", 14, 14);
        @include fluid("padding-bottom", 14, 14);
        
        @include media-breakpoint-down(lg) {
          padding: 5px;
        }
      }
    }
  }

  .current-menu-parent{
    a {
      font-weight: 600;
      color: $black !important;
    }
    .sub-menu{
      a{
        font-weight: 500;
        color: $black !important;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    padding: 15px 0;
  }

  &-nav {
    width: 100%;
  }

  ul {
    width: 100%;
    justify-content: space-around;
    li {
      list-style-type: none;
      position: relative;

      &:last-child {
        margin-right: 0px;
      }

      a {
        width: 100%;
        color: $black;
        transition: all 0.2s ease;
        font-size: 18px;
        // todo font-size: 22px;
        display: inline-block;
        // padding: 15px 0;

        padding: 5px 10px;
        font-weight: 500;
        font-family: versailles;
        text-transform: uppercase;

        &:hover {
          transition: all 0.2s ease;
          color: gray;
        }
        @include media-breakpoint-down(md) {
          padding: 5px 10px;
          // padding: 15px 0;
          font-size: 18px;
        }
      }
    

      &.current-menu-item {
        a {
          font-weight: 600;
          color: $black;
        }

        .sub-menu{
          a{
            font-weight: 500;
          }
        }
      }
      
      &:hover {
        .sub-menu {
          visibility: visible;
          transition: all 0.2s ease;
          opacity: 1;

          li {
            list-style-type: none;
          }
        }
      }

      .sub-menu {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        background-color: $white;
        left: 0;
        padding-left: 0;
        transition: all 0.2s ease;
        margin-right: 0px;

        @include media-breakpoint-down(lg) {
          position: unset;
          visibility: unset;
          opacity: unset;
        }

        li {
          width: 100%;
          background-color: $white;
          color: $black;

          a {
            color: $black;
            transition: all 0.2s ease;
            padding: 5px 20px;

            @include media-breakpoint-down(md) {
              padding-left: 25px;
            }

            &:hover {
              transition: all 0.2s ease;
              color: gray;
            }
          }

          &.current-menu-item {
            a {
              font-weight: 600;
              color: $black;
            }
          }
        }
      }
    }
  }

  .logo-wrapper {
    display: flex;
    justify-content: center;
    transition: $transition;
    align-items: center;
    height: 100%;
    // @include fluid("padding-top", 8, 18);
    @include fluid("padding-bottom", 25, 18);
    border-bottom: 1px solid $primary;
  }

  &-brand {
    padding: 0;
    margin-right: 0;
    transition: $transition;

    h1 {
      color: $black !important;
      transition: $transition;
      font-weight: 500;
      @include fluid("margin-left", 30, 100);
      @include fluid("letter-spacing", 30, 100);
    }

    h2 {
      color: $black !important;
      transition: $transition;
      font-weight: 400;
      @include fluid("margin-left", 6, 16);
      @include fluid("letter-spacing", 6, 16);
    }

    img {
      transition: all 0.3s ease;
      margin: 0;
      opacity: 1;
    }

    &.scrolled {
      transition: $transition;
    }
  }

  &.scrolled {
    transition: $transition;

    .navbar-toggler {
      transition: $transition;
      @include fluid("padding-top", 15, 32);
      @include fluid("padding-bottom", 0, 12);
    }

    .logo-wrapper {
      @include fluid("padding-top", 0, 0);
      @include fluid("padding-bottom", 0, 0);
    }

    .text-center {
      h1 {
        transition: $transition;
        opacity: 0;
        @include fluid("font-size", 0, 0);
        @include fluid("letter-spacing", 0, 0);

      }
      h2 {
        transition: $transition;
        opacity: 0;
        @include fluid("font-size", 0, 0);
        @include fluid("letter-spacing", 0, 0);
      }
    }

    .navbar-brand {
      .logo-img-wrapper{

        img {
          padding: 0;
          transition: all 0.3s ease;
          height: 60px;
        }
      }
    }

    .menu-primary-menu-container{
      transition: $transition;
      padding: 5px 0px;
    }

    ul {
      li {
        a {
          transition: all 0.3s ease;
          font-size: 18px;
          padding: 0px 50px;
        }
      }
    }
  }

  &-toggler {
    transition: $transition;
    @include fluid("padding-top", 20, 48);
    @include fluid("padding-bottom", 5, 24);
    // width: 32px;
    // height: 32px;
    border: 0;
    // padding: 10px 6px;
    margin: -5px -3px -5px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    &:focus,
    &:active,
    &:hover {
      outline: none;
      box-shadow: 0 0 0 0;
    }

    &-icon {
      background-image: none !important;

      height: 26px;
      width: 26px;
      display: flex;
      flex-direction: column;
      position: relative;

      &-line {
        width: 100%;
        height: 2px;
        background-color: $black;
        transition: $transition;
        position: absolute;
        &:nth-child(1) {
          top: 0;
          transform: rotate(0deg);
        }
        &:nth-child(2) {
          width: calc(100% - 7px);
          top: 50%;
          right: 0;
          transform: translateY(-50%);
        }
        &:nth-child(3) {
          top: 100%;
          transform: rotate(0deg) translateY(-100%);
        }
      }
    }

    &.open {
      .navbar-toggler-icon-line {
        &:nth-child(1) {
          top: 50%;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
          transform: scale(0);
        }
        &:nth-child(3) {
          top: 50%;
          transform: rotate(-45deg) translateY(0);
        }
      }
    }
  }

  &-collapse {
    scrollbar-width: none;

    @include media-breakpoint-down(lg) {
      max-height: calc(100vh - 160px); /* Adjust as needed */
      overflow-y: scroll;
    }

    .menu-main-menu-container {
      @include media-breakpoint-down(md) {
        a {
          padding: 15px 0;
        }

        .sub-menu {
          position: relative;
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}
