.contact-info {
  @include fluid("margin-top", 20, 40);
  @include fluid("margin-bottom", 40, 80);
  background-color: $grayCatalog;
  color: $white;

  .container-fluid{
    max-width: 1320px;
  }

  .form-title {
    @include fluid("padding-top", 26, 36);
    @include fluid("padding-bottom", 26, 36);
    color: $white;

  }
  a {
    color: $white;
    text-decoration: underline !important;
    &:hover {
      color: $gray;
      text-decoration: none !important;
    }
  }

  .button-wrapper{
    a{
      text-decoration: none !important;
      // outline: 2px solid $white !important;
      outline: 2px solid $white !important;
      // background-color: $black !important;
      background-color: $grayCatalog !important;
      color: $white !important;
      font-weight: 700 !important;
  
      &:hover,
      &:active,
      &:focus {
        outline-color: $grayCatalog !important;
        border: 0 !important;
        background-color: $white !important;
        color: $grayCatalog !important;
        // box-shadow: 9px 8px 0 white !important;
      }
    }
  }

  &-visage {
    #name-1,
    #email-1,
    #textarea-1,
    #phone-1 {
      .forminator-field {
        label {
          font-size: 16px !important;
          color: black !important;
          font-weight: 700 !important;
        }
        input,
        textarea {
          background-color: white !important;
          border: 1px solid black !important;
          border-radius: 0 !important;
          resize: none !important;
        }
      }
    }

    .forminator-row {
      margin-bottom: 15px !important;
    }

    .forminator-response-message {
      margin: 0 !important;
      padding: 0 !important;
      background-color: white !important;
      box-shadow: none !important;
      -webkit-box-shadow: none !important;
      display: flex !important;

      p {
        border: 2px solid black !important;
        font-size: 18px !important;
        color: $black !important;
        font-weight: 700 !important;
        padding: 15px !important;
      }
    }
    .forminator-description,
    .forminator-edit-module,
    .forminator-required {
      display: none !important;
    }

    .forminator-button-submit {
      outline: 1px solid black !important;
      background-color: white !important;
      color: black !important;
      font-size: 20px !important;
      font-family: versailles;
      font-weight: 700 !important;
      padding: 15px 40px !important;
      // transform: rotate(3deg) !important;
      border-radius: 0 !important;
      transition: $transition !important;

      &:hover {
        // transform: rotate(-1deg) !important;
        outline-color: white !important;
        background-color: black !important;
        color: white !important;
        // box-shadow: 10px 9px 0 rgb(0, 0, 0) !important;
      }
    }
  }
  
  .ol-attribution.ol-unselectable.ol-control.ol-uncollapsible, .ol-zoom.ol-unselectable.ol-control, .ol-full-screen.ol-unselectable.ol-control {
    display: none;
  }

  .border-map{
    border: 1px solid $black;
    iframe{
      width: 100% !important;
      height: 100% !important;
    }
  }
}
