.footer-contact-form {
  background-color: $grayCatalog;
  @include fluid("padding-top", 20, 40);
  @include fluid("padding-bottom", 20, 25);

  color: $white;

  .form-title {
    padding-bottom: 16px;
  }
  a {
    color: $white;
    text-decoration: underline !important;
    &:hover {
      color: $gray;
      text-decoration: none !important;
    }
  }

  .w-80 {
    width: 80%;
  }

  .w-90 {
    width: 90%;
  }

  .form-map {
    @include fluid("height", 350, 410);

    iframe {
      width: 100% !important;
      height: 100% !important;
      border: 1px solid $black;
    }
  }

  &-visage {
    #name-1,
    #email-1,
    #textarea-1,
    #phone-1 {
      .forminator-field {
        label {
          font-size: 16px !important;
          color: $white !important;
          font-weight: 700 !important;
        }
        input,
        textarea {
          background-color: $white !important;
          border: 1px solid black !important;
          border-radius: 0 !important;
          resize: none !important;
        }
        padding-bottom: 1rem;
      }
    }
    // #name-1{
    //     transform: rotate(-1deg) !important;
    // }
    // #email-1{
    //     transform: rotate(2deg) !important;
    // }
    // #phone-1{
    //     transform: rotate(-1deg) !important;
    // }
    // #textarea-1{
    //     transform: rotate(-1deg) !important;
    // }

    .forminator-row {
      margin-bottom: 15px !important;
    }

    .forminator-response-message {
      margin: 0 !important;
      padding: 0 !important;
      background-color: $white !important;
      box-shadow: none !important;
      -webkit-box-shadow: none !important;
      display: flex !important;

      p {
        // transform: rotate(4deg) !important;
        border: 2px solid black !important;
        font-size: 18px !important;
        color: $black !important;
        font-weight: 700 !important;
        padding: 15px !important;
      }
    }

    // .forminator-required{
    //     color: black !important;
    //     font-weight: 700 !important;
    // }

    .forminator-description,
    .forminator-edit-module,
    .forminator-required {
      display: none !important;
    }

    .forminator-button-submit {
      outline: 1px solid black !important;
      background-color: white !important;
      color: black !important;
      font-size: 20px !important;
      font-family: versailles;
      font-weight: 700 !important;
      padding: 15px 40px !important;
      // transform: rotate(3deg) !important;
      border-radius: 0 !important;
      transition: $transition !important;

      &:hover {
        // transform: rotate(-1deg) !important;
        outline-color: white !important;
        background-color: black !important;
        color: white !important;
        // box-shadow: 10px 9px 0 rgb(0, 0, 0) !important;
      }
    }
    // #wpforms-418-field_0-container, #wpforms-418-field_1-container, #wpforms-418-field_2-container{
    //     input, textarea{
    //         border: 5px solid black;
    //         border-radius: 0;
    //         padding: 16px 8px;
    //         font-weight: 700;
    //     }
    // }

    // #wpforms-submit-418{
    //     outline: 5px solid black;
    //     transform: rotate(3deg);
    //     font-weight: 700;
    //     padding: 10px 45px;
    //     background-color: white;
    //     transition: $transition;

    //     &:hover{
    //         color: $white;
    //         background-color: black;
    //         transform: rotate(-3deg);
    //         outline-color: white;
    //     }
    // }

    // .wpforms-error{
    //     font-weight: 700;
    // }

    // #wpforms-confirmation-418{
    //     background-color: white !important;
    //     outline: 5px solid black;
    //     p{
    //         color: black;
    //         font-weight: 700;
    //     }
    // }
  }

  .ol-attribution.ol-unselectable.ol-control.ol-uncollapsible,
  .ol-zoom.ol-unselectable.ol-control,
  .ol-full-screen.ol-unselectable.ol-control {
    display: none;
  }
  .wpgmza_map {
    border: 1px solid $black;
  }
}
