.free-content {
  @include fluid("margin-top", 20, 40);
  @include fluid("margin-bottom", 20, 20);

  scroll-margin-top: 145px; /* Adjust this value to match your navbar height */
    
  @include media-breakpoint-down(lg) {
    scroll-margin-top: 115px; /* Adjust this value to match your navbar height */
  }

  @include media-breakpoint-down(md) {
    scroll-margin-top: 95px; /* Adjust this value to match your navbar height */
  }

  h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6{
    @include fluid("padding-bottom", 15, 20);
  }

  p {
    // @include fluid("font-size", 18, 20);
    // @include fluid("line-height", 32, 36);

    a {
      text-decoration: underline;
      // font-size: 20px;
      // color: $primary;
    }
  }

  .text-wrap {
    hyphens: auto;
    overflow: hidden;
  }

  a {
    color: $primary;
    // transition: $transition;
    &:hover {
      // transition: $transition;
      color: $black;
    }
  }
}
