.image-text {
  

  .category-column {
    @include media-breakpoint-up(md){
      position: -webkit-sticky; /* For Safari */
      position: sticky;
      top: 200px; /* Adjust the top offset to your preference */
      height: 100%;
      overflow-y: auto;
    }
  }

  h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6{
    @include fluid("padding-bottom", 20, 34);
  }

  .accordion-item{
    h3{
      padding-bottom: 0;
    }
  }


  .content {
    max-width: 1320px;
    @include media-breakpoint-down(xl) {
      max-width: 960px;
    }
    @include media-breakpoint-down(lg) {
      max-width: 720px;
    }
    @include media-breakpoint-down(md) {
      max-width: 420px;
    }
  }

  .price{
    p{
      color: white;
      background-color: $black;
      @include fluid("padding-top", 6, 8);
      @include fluid("padding-bottom", 6, 8);
      @include fluid("padding-left", 10, 16);
      @include fluid("padding-right", 10, 16);
      font-size: 1.1rem;
      font-weight: 700;
    }
  }

  .anchor-target {
    scroll-margin-top: 145px; /* Adjust this value to match your navbar height */
    
    @include media-breakpoint-down(lg) {
      scroll-margin-top: 115px; /* Adjust this value to match your navbar height */
    }
  
    @include media-breakpoint-down(md) {
      scroll-margin-top: 95px; /* Adjust this value to match your navbar height */
    }
  }

  .dark-gray {
    background-color: $gray;
    // color: white;
    // h2{
    //   color: white;
    // }
  }

  .gray {
    // background-color: $gray;
    // color: white;
    h2 {
      // color: white;
    }
  }

  .img-wrapper {
    @include fluid("height", 320, 400);
    img {
      margin: 0;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  .img-contain {
    img{
      object-fit: contain !important;
    }
  }

  input:focus{
    outline: none; /* Remove the default outline */
    border: none; /* Remove border if present */
    box-shadow: none; /* Remove any additional focus shadow */
  }
}
