.price-list {
  .img-wrapper {
    img {
      height: 149px;
      border-radius: 50%;
      object-fit: contain;
    }
  }

  .category-column {
    @include media-breakpoint-up(md){
      position: -webkit-sticky; /* For Safari */
      position: sticky;
      top: 200px; /* Adjust the top offset to your preference */
      height: 100%;
      overflow-y: auto;
    }
  }

  .category-title {
    padding: 15px 10px;
    font-size: 1.5rem;

    a{
      transition: $transition;
      &:hover{
        transition: $transition;
      }
    }
  }

  .category-description-text{
    p {
      margin: 0;
    }
  }

  .span-line {
    @include fluid("width", 40, 80);
    background: black; /* Line color */
    height: 2px; /* Line thickness */
    margin-right: 10px; /* Spacing between the line and the title */
  }
  
  .category-row {
    background-color: $gray;
  }

  .product-row {
    padding: 10px 10px;
  }

  .col-lg-9 .row {
    border-bottom: 1px solid $grayBorder;
  }
  .col-6:last-child {
    text-align: right;
  }
  .col-lg-9 .row:nth-child(even) {
    background-color: $grayLight;
  }
  .product-title {
    font-size: 1.3rem;
  }
  .product-description {
    font-size: 1rem;
  }
}
