.price-list {
  .img-wrapper {
    img {
      height: 149px;
      border-radius: 50%;
      object-fit: contain;
    }
  }
  .category-title {
    padding: 15px 10px;
    font-size: 1.5rem;
  }

  .span-line {
    @include fluid("width", 40, 80);
    background: black; /* Line color */
    height: 2px; /* Line thickness */
    margin-right: 10px; /* Spacing between the line and the title */
  }
  
  .category-row {
    background-color: $gray;
  }

  .product-row {
    padding: 10px 10px;
  }

  .col-lg-10 .row {
    border-bottom: 1px solid $grayBorder;
  }
  .col-6:last-child {
    text-align: right;
  }
  .col-lg-10 .row:nth-child(even) {
    background-color: $grayLight;
  }
  .product-title {
    font-size: 1.3rem;
  }
  .product-description {
    font-size: 1rem;
  }
}
